--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.6.0
torchvision==0.21.0
albumentations==1.3.1
opencv-python==4.8.1.78
pudb==2022.1.3
imageio==2.31.6
imageio-ffmpeg==0.4.9
pytorch-lightning==2.1.3
omegaconf==2.3.0
streamlit>=1.28.0
einops==0.7.0
torch-fidelity==0.3.0
transformers==4.36.0
kornia==0.7.0
webdataset==0.2.86
torchmetrics==1.2.1
fire==0.5.0
gradio==4.8.0
diffusers==0.25.0
datasets==2.16.0
-e git+https://github.com/illeatmyhat/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip
-e git+https://github.com/justinpinkney/nomi.git@e9ded23b7e2269cc64d39683e1bf3c0319f552ab#egg=nomi
-e .
